body {
    background-color: grey;
}

header {
    border: solid 3px grey;
    background-color: blue;
    text-align: center;
    font-family: Cursive, Lucida Console;
    border-radius: 25px;
    width: 900px;
    margin: auto;

}
h1 * {
    text-align: center;
}

main {
    border: solid 3px blue;
    padding-right: 300px;
    background-color: #2DCDCF;
    font-family: Cursive, Lucida Console;
    border-radius: 25px;
    width: 800px;
    margin: auto;
    margin-top: 25px;
    font-size: 12px;

}

h1 {
    font-size: 50px;
    padding: 1px;
    text-align: center;
}

aside {
    background-color: lightgray;
    border: solid 2px blue;
    padding: 20px;
    float: right
}
footer {
    background-color: darkslategrey;
    text-align: center;
    border: solid 3px;
    border-radius: 25px;
    width: 800px;
    padding-left: 250px;
    padding-right: 250px;
    float: none 
}
